$primary-lighter: #2ecc71;
$primary-darker: #1bbc9b;
$primary-middium: #16958a;

$error-color:  #ef4836;

$warning-color: #f4d03f;

$secondary-color: #c3dbd8;

$text-darkest: #0c1f1f;
$text-darker: #1f2d2d;
$text: #354949;
